<!-- ver-estudiante.component.html -->
<div class="container">
  <div class="title">
    <h4>Listado de estudiantes</h4>
    <button type="button" class="btn btn-primary" routerLink="/add">
      Agregar Estudiante
    </button>
  </div>

  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido Paterno</th>
        <th scope="col">Apellido Materno</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of listUsers" class="table-active">
        <td>{{ item.nombre_estudiante }}</td>
        <td>{{ item.apellido_paterno_estudiante }}</td>
        <td>{{ item.apellido_materno_estudiante}}</td>
        <td>
          <button
            type="button"
            class="btn btn-primary btn-sm"
            (click)="verDetalle(item.id_registro_estudiante)"
          >
            Ver
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
